/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* HEADER */

header {
    text-align: center;
    margin-top: 40px;
}

h1 {
    color: #e53170;  
    margin-bottom: 40px;
}

/* MAIN */

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    width: calc (100% / 3 - 2rem);
    float: left;
    margin-right: 20px;
}


a {
    text-decoration: none;
}

